<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GitChat</title>
    <link href="style/core.css" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//fb.me/react-0.13.3.js"></script>
    <script src="//fb.me/JSXTransformer-0.13.3.js"></script>
</head>
<body>
<!-- This is the React main render container -->
<div id="container"></div>
<!-- Load JS at bottom for performance -->
<script type="text/jsx" src="scripts/react-chat.jsx"></script>
</body>
</html>